@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face{
  font-family: neue;
  src: url();
}

.nav{
  background: rgba(0,0,0,1);
  backdrop-filter: blur(20px);
}
.card-heading h1{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.marquee-elem::-webkit-scrollbar {
    display: none;
  }
  .marquee-elem h1{
    -webkit-text-stroke: 1px #fff;
    animation: marquee 20s linear infinite;
}
.circle{
  width: 50%;
  height: 23%;
}
.cardleft .info:hover{
  background: #fff;
  color: #000;
  transition: all 1 ease-in-out;
}
@keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - 20px));
    }
  }